<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116246487522-v73k5onecscu6jopmuaa1u6043rfs8e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116246487522-v73k5onecscu6jopmuaa1u6043rfs8e6</string>
	<key>API_KEY</key>
	<string>AIzaSyA5zuNlKo8iat_Gtu2gvVTM986EfqH64MQ</string>
	<key>GCM_SENDER_ID</key>
	<string>116246487522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramCloneApp</string>
	<key>PROJECT_ID</key>
	<string>my-clone-instragram</string>
	<key>STORAGE_BUCKET</key>
	<string>my-clone-instragram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116246487522:ios:f96d6b34f18280a662d9bb</string>
</dict>
</plist>